/*ajustes generales*/
body {
    background-color: #1e1e2f;
    color: #ffffff !important;
}

.py-5 {
    padding-top: 0 !important;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid #3A80BA;
    /* línea de color debajo del título */
    padding-bottom: 10px;
}


/*sidebar*/
.sidebar {
    height: 100vh !important;
    position: fixed;
    background-color: #28293d !important;
    z-index: 2;
}

.logo-miniatura {
    width: 30px;
    height: 30px;
}

.nav-link {
    color: #bbb;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.active-section {
    background-color: #47476d !important;
}

.header-container {
    display: none !important;
}

/* Contenido principal */
main {
    margin-left: 270px;
    padding: 50px 50px 0px 50px;
    transition: all 0.3s ease;
}

/* carousel section */
.owl-carousel {
    padding-top: 50px;
}

.owl-theme .owl-dots .owl-dot{
    display: none !important;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 3px;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white !important;
    font-size: 2rem !important;
    cursor: pointer;
    z-index: 10;
    border-radius: 50px;
    transition: 0.5s;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background: #494959;
}

.owl-carousel .owl-nav button.owl-prev {
    right: 40px;
}

.owl-carousel .owl-nav {
    display: block !important;
    /* Asegura que las flechas siempre se muestren */
}

.owl-carousel .owl-nav button {
    opacity: 1;
    /* Asegúrate de que las flechas no tengan baja opacidad */
}

.episode {
    position: relative;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.icon-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover img {
    opacity: 0.5;
    /* Oscurece la imagen */
}

.image-container:hover .icon-overlay {
    opacity: 1;
    /* Muestra el ícono */
}

/*season section*/
.season-container {
    position: relative;
    padding-top: 20px;
}

.season-container h3 {
    position: absolute;
    top: 5px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #3A80BA;
    padding: 10px 15px;
    border-radius: 5px;
}

/*Episode section*/

.episode-title {
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    text-align: left;
}

.episode-subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: #3A80BA; 
    margin-top: 15px;
    margin-bottom: 5px;
}

.episode-description {
    font-size: 1rem;
    font-weight: 400;
    color: #D1D1D1; 
    line-height: 1.6;
    margin-bottom: 20px;
}

.more-episode-link {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF; 
    background-color: #3A80BA; 
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.more-episode-link:hover {
    background-color: #3a80ba89; 
    transform: translateY(-2px); 
}

.spotify-player {
    border-radius: 8px;
    overflow: hidden;
    margin: 15px 0;
}

.spotify-player iframe {
    width: 100%;
    height: 152px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/*most listen episodes section*/
.featured-episodes-container {
    margin: 50px 0;
}

.most-listen-episodes-container .col {
    position: relative;
    cursor: pointer;
    border-radius: 10px !important;
    overflow: hidden;
    transition: 0.5s;
}

.most-listen-episodes-container .col:hover {
    scale: 0.9;
}

.most-listen-episodes-container h3 {
    font-size: 3rem;
    position: absolute;
    top: 0px;
    /* Ajusta la distancia desde la parte superior según sea necesario */
    right: 4px;
    /* Ajusta la distancia desde la parte derecha */
    background-color: #49495988;
    padding: 10px;
    border-bottom-left-radius: 10px;
}

.most-listen-episodes-container img {
    width: 100%;
    height: auto;
    /* Mantiene la proporción de la imagen */
}

/*recomended episodes section*/
.link-recomended-episode {
    text-decoration: none;
}

.recomended-episode-card {
    min-height: 350px;
}

.recomended-episode-card img {
    width: 100%;    
}

.recomended-episode-card h5 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limita el texto a 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.recomended-episode-card .card-body:hover h5 {
    text-decoration: underline;
}

/*featured episodes section*/

.link-featured-episode {
    text-decoration: none;
}

.card {
    background-color: #2a2a3c;
    border: none;
    color: #cfcfcf;
}

.card-featured-episode .card-body {
    padding: 0 10px;
    margin: 0;

}

.card-featured-episode .card-body h5 {
    font-size: 1rem !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limita el texto a 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.card-featured-episode .card-body h6 {
    padding-top: 5px;
    color: #cfcfcf !important;
    /* Color del subtítulo */
    font-size: 0.8rem !important;
}

.card-featured-episode .card-body .d-flex span {
    font-size: 0.7rem;
    color: #a0a0b1;
}

.card-featured-episode .card-body .badge {
    background-color: #6f42c1;
    color: #ffffff;
}

.card-featured-episode .card-body:hover h5 {
    text-decoration: underline;
}

/*about section*/
.card-speaker img {
    width: 150px;
}

/* Estilo para el título del miembro */
.card-speaker .card-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    margin-top: 10px;
}

/* Estilo para el subtítulo (cargo) */
.card-speaker .card-subtitle {
    font-size: 1rem;
    font-weight: 600;
    color: #b0c4de;
    margin-top: 5px;
}

/* Estilo para el párrafo */
.card-speaker .card-text {
    font-size: 0.9rem;
    color: #dcdcdc;
    line-height: 1.5;
    margin-top: 10px;
}

/*floating button section*/
/* Estilo del contenedor flotante */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 1000;
}

/* Estilo del botón principal */
.main-button {
    background-color: #6f42c1;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-button.active .main-button {
    transform: rotate(45deg); /* Rotación de 45 grados para que el "+" parezca una "×" */
    background-color: #3A80BA; /* Cambia de color al activar, opcional */
}

/* Estilo del contenedor de iconos de redes sociales */
.social-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 60px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    transform: translateY(20px); /* Desplazado hacia abajo inicialmente */
}

.social-icon {
    background-color: #47476d;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    margin: 5px 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s ease;
}

.social-icon svg {
    fill: white;
    width: 1.5rem;
}

.social-icon:hover {
    background-color: #3A80BA;
}

/* Animación de desplazamiento */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Comienza desplazado hacia abajo */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Termina en su posición original */
    }
}

/* Mostrar iconos cuando están activos */
.floating-button.active .social-icons {
    opacity: 1;
    visibility: visible;
    animation: slideUp 0.3s ease forwards;
}



@media screen and (max-width:600px) {
    .py-5 {
        padding-top: 3rem !important;
    }

    main {
        margin: 0;
        padding: 10px;
        margin-top: 10vh;
    }

    .container {
        margin: 0 !important;
        padding: 0 !important;
    }

    .header-container {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #28293d;
        /* Color de fondo del contenedor */
        color: white;
        position: fixed;
        /* Fija el contenedor en la parte superior */
        top: 0;
        width: 100%;
        z-index: 3;
        /* Asegura que esté por encima de otros elementos */
    }

    .logo {
        width: 3rem;
        /* Ajusta el tamaño del logo */
    }

    .logo-miniatura {
        width: 1.8rem;
        /* Ajusta el tamaño del logo */
    }

    .hamburger {
        background: none;
        border: none;
        color: white;
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }

    /* Estilos del sidebar */
    #sidebar {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        /* Cambia `left` por `right` para que esté en el lado derecho */
        width: 280px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 999;
        overflow-y: auto;
        transform: translateX(100%);
        /* Oculto inicialmente a la derecha */
        transition: transform 0.3s ease;
        /* Transición suave */
    }

    #sidebar.active {
        transform: translateX(0);
        /* Despliegue hacia la izquierda */
    }

    /* Estilos del overlay */
    .overlay {
        display: none;
        /* Oculto por defecto */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        /* Fondo oscuro semitransparente */
        z-index: 998;
        /* Debajo del sidebar */
        opacity: 0;
        transition: opacity 0.3s ease;
        /* Transición suave para el overlay */
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    /*owl carrusel*/
    .owl-theme .owl-dots .owl-dot{
        display: inline-block !important;
    }

    /*most listen episodes section*/
    .display-inline {
        display: inline !important;
    }


    .most-listen-episodes-container .col {
        margin-bottom: 20px;
    }

    .most-listen-episodes-container .col:hover {
        scale: 1;
    }

    .image-100 {
        width: 100%;
    }

    /*sección de backstage*/
    .reverse-mobile {
        flex-direction: column-reverse;
    }

    /*floating button section*/
    .floating-button {
        right: 20px;
        z-index: 2 !important;
    }

    /* Ajuste de tamaño y disposición de los iconos */
    .social-icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de ancho igual */
        gap: 8px; /* Espacio entre los iconos */
        bottom: 70px; /* Ajusta la posición en móvil */
    }
    
    .social-icon {
        width: 50px;
        height: 50px;
    }
    
    /* Ajuste de posición del botón principal en móvil */
    .floating-button {
        bottom: 15px;
        right: 15px;
    }
}


@media (min-width:600px) and (max-width:1000px) {
    
    
    /*sección de backstage*/
    .reverse-mobile {
        flex-direction: column-reverse;
    }
}

@media (min-width:600px) and (max-width:1400px) {
    .py-5 {
        padding-top: 5rem !important;
    }

    main {
        margin: 0;
        padding: 0 50px;
        margin-top: 10vh;
    }

    .container {
        margin: 0 !important;
        padding: 0 !important;
    }

    .header-container {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        padding: 10px 50px;
        background-color: #28293d;
        /* Color de fondo del contenedor */
        color: white;
        position: fixed;
        /* Fija el contenedor en la parte superior */
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        /* Asegura que esté por encima de otros elementos */
    }

    .logo {
        width: 5rem;
        /* Ajusta el tamaño del logo */
    }

    .logo-miniatura {
        width: 2rem;
        /* Ajusta el tamaño del logo */
    }

    .hamburger {
        background: none;
        border: none;
        color: white;
        font-size: 5rem;
        display: inline !important;
        margin: 0;
        padding: 0;
    }

    /* Estilos del sidebar */
    #sidebar {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        /* Cambia `left` por `right` para que esté en el lado derecho */
        width: 280px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 999;
        overflow-y: auto;
        transform: translateX(100%);
        /* Oculto inicialmente a la derecha */
        transition: transform 0.3s ease;
        /* Transición suave */
    }

    #sidebar.active {
        transform: translateX(0);
        /* Despliegue hacia la izquierda */
    }

    /* Estilos del overlay */
    .overlay {
        display: none;
        /* Oculto por defecto */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        /* Fondo oscuro semitransparente */
        z-index: 998;
        /* Debajo del sidebar */
        opacity: 0;
        transition: opacity 0.3s ease;
        /* Transición suave para el overlay */
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    /*floating button section*/
    .floating-button {
        right: 50px !important;
        z-index: 2 !important;
    }

    /* Ajuste de tamaño y disposición de los iconos */
    .social-icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de ancho igual */
        gap: 8px; /* Espacio entre los iconos */
        bottom: 70px; /* Ajusta la posición en móvil */
    }
    
    .social-icon {
        width: 50px;
        height: 50px;
    }
    
    /* Ajuste de posición del botón principal en móvil */
    .floating-button {
        bottom: 15px;
        right: 15px;
    }
}

@media (min-width:990px) and (max-width:1400px) {
    .col-lg-3 {
        width: 30%;
    }

    .py-5 {
        padding-top: 6vh !important;
    }
    
}